
<div class="component" ng-controller="ControllerOne">
  <input ng-model="fileName">
  <button ng-click="handleFileUploadClick(fileName);">Upload</button>
  <button ng-click="handleFileDeletedClick(fileName);">Delete</button>
</div>

<div class="component" ng-controller="ControllerThree">
  <input ng-model="message">
</div>

<div class="component" ng-controller="ControllerTwo">
  <input ng-model="message">
</div>

